.client-container{
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #424040;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size:16px ;
}
.client-wrapper{
    gap: 10px;
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: small;
}